block nav
  .container.navbar-default
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#myPage') Logo
    #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#about') ABOUT
        li
          a(href='#services') SERVICES
        li
          a(href='#portfolio') PORTFOLIO
        li
          a(href='#pricing') PRICING
        li
          a(href='#contact') CONTACT